*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ee5253;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
div input{
    width: 30%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
button{
    background-color: #0abde3;
    padding: 15px;
    margin-top: 10px;
    border: none;
    color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #48dbfb;
    transition:  background-color 0.5s ease-in-out;
}